*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.continer{
display: flex;
width: 1400px;
}
.burger{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
    margin: 0 auto;
    height: 100vh;
    .center {
        display: flex;
        flex-direction: column;
    }

}
.btn{
    margin-top: 100px;
    background-color: blueviolet;
    border-radius: 40% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 600px;
    .h3{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        
    }
    
}

button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    &:nth-child(1){
        background-color:rgba(165, 42, 56, 0.987) ;
color: wheat;
    }
    &:nth-child(2){
        background-color:yellow ;
        color:rgb(0, 0, 0) ;
        margin-right: 100px;
    }
    &:nth-child(3){
        background-color:green ;
        color: rgb(120, 30, 30);  
    }
    &:nth-child(4){
        background-color:orangered ;
        color:white ;
        margin-right: 100px;

    }
    &:nth-child(5){
        background-color: red;
        color: yellow;
    }
    &:nth-child(6){
        background-color:grey ;
        color:whitesmoke ;
        margin-right: 100px;

    }
}
